<nav class="w-full p-3">
  <div class="flex flex-row align-items-center">
    <a class="text-3xl md:text-5xl rgb-shake-animation font-bold no-underline" href="/">АД</a>
    <div class="flex flex-row ml-5 z-5">
      <div class="select-none mr-2">
        <a class="text-red-500 no-underline hover:text-color" href="/about">about</a>
      </div>
      <div class="select-none mr-2">
        <a class="text-green-500 no-underline hover:text-color" href="/works">works</a>
      </div>
      <div class="select-none mr-2">
        <a class="text-blue-500 no-underline hover:text-color" href="/creative">creative</a>
      </div>
    </div>
  </div>
</nav>
