<div class="flex flex-row w-full h-full mb-2">
    <span class="block w-1/7 h-full" style="background: white"></span>
    <span class="block w-1/7 h-full" style="background: yellow"></span>
    <span class="block w-1/7 h-full" style="background: cyan"></span>
    <span class="block w-1/7 h-full" style="background: greenyellow"></span>
    <span class="block w-1/7 h-full" style="background: magenta"></span>
    <span class="block w-1/7 h-full" style="background: red"></span>
    <span class="block w-1/7 h-full" style="background: blue"></span>
    <div class="absolute bottom-[40%] py-4 px-10 bg-black w-full text-xl md:text-4xl font-mono themed-text">
        CHANNEL NOT FOUND
    </div>
    <a
            [routerLink]="['/']"
            class="absolute bg-white right-[10vw] top-[20vh] px-10 text-xl md:text-4xl themed-text text-black"
    >
        HOME CHANNEL
    </a>
</div>
