<app-nav></app-nav>
<div class="flex w-full">
  <div class="mx-auto mt-8 w-8 z-5 relative flex flex-column">
    <div>
      <span style="font-weight: bold">Software engineer</span> with three years of industry
      experience.
      <br><br>Committed to ongoing
      learning in software engineering, architecture, clean coding practices, and
      teamwork.
      <br><br>Recognized for creativity, commitment, and reliability,
      always seeking new opportunities to contribute to innovative projects.
    </div>
    <div class="mt-6">
      <p>
        <br><b>Building software, libraries, tools, websites and apps.</b>
        <br>
        <br>Programming Languages (Java, JS, TS, C, Python),
        <br>SQL and NoSQL databases,
        <br>Frameworks (Spring, Angular, Django),
        <br>Git,
        <br>Debugging,
        <br>Communication,
        <br>Presentation,
        <br>Documentation
      </p>
    </div>
  </div>
</div>
