<app-layout>
    <app-nav color="var(--rgb-blue)" page="CREATIVE"></app-nav>
    <div class="flex flex-row gap-5 overflow-x-auto py-2 posters h-[140vw] md:h-[80%]"
         style="z-index: 9999; scrollbar-width: thin">
        <a href="https://www.instagram.com/izginuce35/" target="_blank">
            <img ngSrc="assets/creative/izginuce-35-poster.webp" alt="izginuce-35" height="2022" width="1338">
        </a>
        <a href="https://www.instagram.com/izginuce/" target="_blank">
            <img ngSrc="assets/creative/izginuce-poster.webp" alt="izginuce" height="2022" width="1338">
        </a>
        <a href="https://www.deezer.com/us/playlist/7247583024" target="_blank">
            <img ngSrc="assets/creative/letnji-zur-poster.webp" alt="letnji-zur" height="2022" width="1338">
        </a>
        <a href="https://www.deezer.com/us/playlist/9303156122" target="_blank">
            <img ngSrc="assets/creative/letnji-zur-jadran-poster.webp" alt="letnji-zur-jadran" height="2022"
                 width="1338">
        </a>
        <a href="https://www.deezer.com/us/playlist/9381878122" target="_blank">
            <img ngSrc="assets/creative/letnji-zur-latino-poster.webp" alt="letnji-zur-latino" height="2022"
                 width="1338">
        </a>
    </div>
    <app-menu/>
</app-layout>