.posters a, .posters a img, .posters img {
  height: 100%;
  width: auto;
  flex: 0 0 auto;
  display: block;
}

.poster {
  position: relative;
  height: 100%;
  flex: 0 0 auto;
}

.poster img {
  height: 100%;
  width: auto;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  padding: 2% 5%;
}