<app-nav color="var(--rgb-blue)" page="CREATIVE"></app-nav>
<div class="absolute" style="width: 90%; left: 50%; top:50%; transform: translate(-50%,-50%);">
    <div>
        <h2 class="text-color-secondary m-0 mb-2">playlists</h2>
        <div class="mb-2">
            <iframe title="deezer-widget"
                    src="https://widget.deezer.com/widget/dark/playlist/7247583024?tracklist=true" width="100%"
                    height="150" style="border:0;"
                    allow="encrypted-media; clipboard-write"></iframe>
        </div>
        <div class="mb-2">
            <iframe title="deezer-widget" src="https://widget.deezer.com/widget/dark/playlist/9303156122" width="100%"
                    height="150" style="border:0;"
                    allow="encrypted-media; clipboard-write"></iframe>
        </div>
        <div class="mb-2">
            <iframe title="deezer-widget" src="https://widget.deezer.com/widget/dark/playlist/9381878122" width="100%"
                    height="150" style="border:0;"
                    allow="encrypted-media; clipboard-write"></iframe>
        </div>
    </div>
    <div>
        <h2 class="text-color-secondary m-0 mb-2">photography</h2>
        <div class="mb-2">
            Digital <a class="rgb-blue" href="https://www.instagram.com/izginuce">https://www.instagram.com/izginuce</a>
        </div>
        <div class="mb-2">
            Film <a class="rgb-blue"
                    href="https://www.instagram.com/izginuce35">https://www.instagram.com/izginuce35</a>
        </div>
    </div>
</div>
