.image-row {
    overflow: hidden;
}

.img-fluid {
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
    max-height: 80vh;
    max-width: 80vw;
}

.bg-none {
    background: transparent;
    border: none;
    padding-top: 5px;
}

.square {
    max-width: 100%;
    max-height: 100%;
}

.square:before {
    content: "";
    display: block;
    float: left;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.modal-body {
    padding: 0 !important;
}

.modal-header {
    padding: 0;
    margin: auto;
}

.modal-dialog {
    border: none;
    margin: auto;
}

.modal-body > img {
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 80vh;
    user-select: none;
}

#exampleModal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    webkit-box-shadow: 0 0 100px beige;
    -moz-box-shadow: 0 0 100px beige;
    box-shadow: 0 0 100px beige;
    user-select: none;
    position: fixed;
    z-index: 101;
}

#modalBackground {
    background-color: black;
    opacity: 0.5;
    z-index: 100;
    position: fixed;
}

.bg-brown {
    background-color: #a04d00 !important;
}

.text-brown {
    color: #a04d00 !important;
}

.bg-black2 {
    background-color: black;
}

.navbar-toggler {
    border: none;
    border-radius: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.activated {
    color: #a04d00 !important;
    font-weight: bold;
    font-size: 20px;
}

.image-id-class {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: unset;
    }
}
