#centerpiece {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

body{
    height: 100vh;
    background-image: url("backgrnd.png");
}
.animacija {
    position: fixed;
    z-index: -9999;
    width: 80vw;
}

#home:hover, #contact:hover, #projects:hover {
    cursor: pointer;
}

.naslov-large {
    font-size: 8vw;
    align-content: start;
}

/*.ad-cont {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    width: 50%;*/
/*    margin: auto;*/
/*}*/

#aleksa {
    letter-spacing: 1vw;
    line-height: 1 !important;
    position: relative;
    font-style: italic;
    user-select: none;
}

#dacic {
    letter-spacing: 1vw;
    line-height: 1 !important;
    position: absolute;
    left: 65%;
    font-style: italic;
    user-select: none;
}

.compsci {
    color: grey;
    user-select: none;
    font-size: 3vh;
}

.mail {
    color: darkgray;
    font-size: 2vh;
}

.git {
    font-size: 2vh;
}

