#centerpiece {
    position: relative;
    top: 50%;
}

body{
    height: 100vh;
    background-image: url("backgrnd.png");
}
.animacija {
    position: fixed;
    z-index: -9999;
    width: 80vw;
}

#home:hover, #contact:hover, #projects:hover {
    cursor: pointer;
}