#centerpiece {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

body{
    height: 100vh;
    background-image: url("backgrnd.png");
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
}

.page-header:after {
    animation: grain 8s steps(10) infinite;
    content: "";
    background-image: url("noise.png");
    height: 300%;
    width: 300%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    left: -50%;
}

.animacija {
    position: fixed;
    z-index: -9999;
    width: 80vw;
}

#home:hover, #contact:hover, #projects:hover {
    cursor: pointer;
}

.naslov-large {
    font-size: 8vw;
    align-content: start;
}

/*.ad-cont {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    width: 50%;*/
/*    margin: auto;*/
/*}*/

#aleksa {
    letter-spacing: 1vw;
    line-height: 1 !important;
    position: relative;
    font-style: italic;
    user-select: none;
}

#dacic {
    letter-spacing: 1vw;
    line-height: 1 !important;
    position: absolute;
    left: 65%;
    font-style: italic;
    user-select: none;
}

.compsci {
    color: grey;
    user-select: none;
    font-size: 3vh;
}

.mail {
    color: darkgray;
    font-size: 2vh;
}

.links {
    font-size: 2vh;
}

