<div class="flex flex-col justify-between mx-10 h-full py-5">
    <app-nav page="ABOUT" color="var(--rgb-red)"/>
    <div class="content-container text-xl relative" [style.z-index]="500">
        <app-noise [fullscreen]="false" [opacity]="0.2"/>
        <div [style.display]="display(1)" class="image image-1"></div>
        <div [style.display]="display(2)" class="image image-2"></div>
        <div [style.display]="display(3)" class="image image-3"></div>
        <div [style.display]="display(4)" class="image image-4"></div>
        <div class="text-center w-full margin-auto italic relative bottom-4"
             style="scrollbar-width: none; color: yellow; transform: translate(0, -100%)">
            <p [style.display]="display(1)" class="mb-2 max-w-[80%] inline-flex px-2"
               style="background: rgba(0,0,0,80%)">
                I’m Aleksa, a software engineer who treats software like art.
            </p>
            <p [style.display]="display(2)" class="mb-2 max-w-[80%] px-2" style="background: rgba(0,0,0,80%)">
                I love creating things that help people - whether that’s users of the apps I create or developers
                who
                use the tools I build.
            </p>
            <p [style.display]="display(3)" class="mb-2 max-w-[80%] px-2" style="background: rgba(0,0,0,80%)">
                Like in art, they should feel something while using a software.
            </p>
            <p [style.display]="display(4)" class="mb-2 max-w-[80%] px-2" style="background: rgba(0,0,0,80%)">
                And the software was always there before them, but it just revealed
                itself now with a pleasant tenderness.
            </p>
        </div>
    </div>
    <app-menu/>
</div>
