<app-nav page="ABOUT" color="red"/>

<div class="absolute flex flex-col justify-between text-2xl"
     style="width: 90%; height: 75%; left: 50%; top:20%; transform: translate(-50%,0);">
    <div style="height: 80%; scrollbar-width: none" class="overflow-y-auto">
        <p>
            <b>Software engineer</b>
            with four years of industry experience building
            full-stack solutions. Always
            building stuff and experimenting with software engineering discipline towards expanding creativity
            at its fullest. Recognised for clean architecture, critical thinking, and a passion for UX/UI. Seeking
            opportunities where innovation, performance optimisation and collaboration are valued.
        </p>
        <div class="mt-6">
            <p>
                <br><b>software, libraries, tools, websites and apps.</b>
                <br>
                <br>Programming Languages (Java, JS, TS, C, Python),
                <br>SQL and NoSQL databases,
                <br>Frameworks (Spring, Angular, Django, ReactNative),
                <br>Git,
                <br>Debugging,
                <br>Communication,
                <br>Presentation,
                <br>Documentation
            </p>
        </div>
    </div>
    <div class="flex flex-row justify-between text-3xl p-4 items-center"
         style="background: blue; height: 50px; filter: blur(1px)">
        <div class="flex flex-row gap-20">
            <a class="font-mono">aleksa.dacic99&#64;gmail.com</a>
            <!--            TODO on click copy-->
        </div>
    </div>
</div>
