<div class="grain-animation"></div>
<app-nav page="ABOUT" color="var(--rgb-red)"/>

<div class="absolute flex flex-col justify-between text-xl page-container">
    <div class="content-container">
        <div class="irises-background"></div>
        <div class="grain-animation"></div>
        <!--        TODO gde god da se skroluje traba da se skroluje text-->
        <div class="overflow-y-auto text-center bottom-0 absolute h-[15%] px-[20%] mx-auto mb-2 italic"
             style="scrollbar-width: none; color: yellow">
            <p class="mb-2 inline-flex px-2" style="background: rgba(0,0,0,80%)">
                I’m Aleksa, a software engineer who treats software like art.
            </p>
            <p class="mb-2 inline-flex px-2" style="background: rgba(0,0,0,80%)">
                I love building things that help people - whether that’s users of the apps I create or developers who
                use the tools I build.
            </p>
            <p class="mb-2 inline-flex px-2" style="background: rgba(0,0,0,80%)">
                Like in art, people should feel something after using a software.
            </p>
            <p class="mb-2 inline-flex px-2" style="background: rgba(0,0,0,80%)">
                So when I craft my
                code, I want people to feel a sense of familiarity with the final product, a feeling that they truly
                own what they're using.
            </p>
        </div>
    </div>
    <div class="flex flex-row justify-between text-3xl p-4 items-center copy-trigger cursor-pointer"
         style="background: black; height: 50px; filter: blur(1px)"
         (click)="copyToClipboard(email.innerText)">
        <div class="flex flex-row gap-2">
            <span class="font-mono" #email>aleksa.dacic99&#64;gmail.com</span>
            <img class="copy-icon" style="visibility: hidden" ngSrc="assets/icons/copy.svg" alt="COPY" height="36"
                 width="28" fetchpriority="high">
        </div>
        @if (successVisible) {
            <span class="rgb-green font-mono font-bold">COPIED TO CLIPBOARD</span>
        }
    </div>
</div>
