<app-nav color="green" page="WORKS"></app-nav>
<div class="absolute flex flex-col gap-10" style="width: 90%; left: 50%; top:50%; transform: translate(-50%,-50%);">
    <div>
        <div class="md:text-5xl mb-3 text-3xl">data querying</div>
        <a class="text-blue-500 mb-3" style="word-break: break-word" href="https://github.com/aleksadacic/DataQuerying">https://github.com/aleksadacic/DataQuerying</a>
        <div class="text-color">
            <b>Data Querying</b> is a lightweight and intuitive library designed to make dynamic query building
            in <b>Spring Data JPA effortless</b>.
            <br><br>
            Instead of manually crafting complex queries, this library provides a clean and type-safe DSL to
            construct JPA queries at runtime. With objects like Query and SearchRequest, you can filter, sort,
            and paginate data dynamically, all while keeping your code readable and maintainable.
        </div>
    </div>
    <div>
        <div class="md:text-5xl mb-3 text-3xl">katarinadacic.com</div>
        <a class="text-blue-500 mb-3" href="https://katarinadacic.com">https://katarinadacic.com</a>
        <div>
            Designed and developed a modern, responsive website for <b>Katarina Dačić</b>, an interior,
            exhibition, and set designer.
            <br><br>
            Built using <b>Angular</b> and <b>Firebase</b>, the site showcases her portfolio with a modern user
            experience.
        </div>
    </div>
</div>
