<app-nav></app-nav>
<div class="flex w-full mb-8 flex flex-column">
  <div class="mx-auto mt-8 w-8 z-5 relative flex flex-column">
    <h2 class="text-color-secondary m-0 mb-2">playlists</h2>
    <div class="mb-2">
      <iframe title="deezer-widget"
              src="https://widget.deezer.com/widget/dark/playlist/7247583024?tracklist=true" width="100%"
              height="150" style="border:0;"
              allow="encrypted-media; clipboard-write"></iframe>
    </div>
    <div class="mb-2">
      <iframe title="deezer-widget" src="https://widget.deezer.com/widget/dark/playlist/9303156122" width="100%"
              height="150" style="border:0;"
              allow="encrypted-media; clipboard-write"></iframe>
    </div>
    <div class="mb-2">
      <iframe title="deezer-widget" src="https://widget.deezer.com/widget/dark/playlist/9381878122" width="100%"
              height="150" style="border:0;"
              allow="encrypted-media; clipboard-write"></iframe>
    </div>
  </div>
  <div class="mx-auto mt-8 w-8 z-5 relative flex flex-column">
    <h2 class="text-color-secondary m-0 mb-2">photography</h2>
    <div class="mb-2">
      <div class="elfsight-app-18677d1f-e366-4530-b589-64ee526c94ec" data-elfsight-app-lazy></div>
    </div>
    <div class="mb-2">
      <div class="elfsight-app-d035900a-88b6-4311-8136-da2a5921982d" data-elfsight-app-lazy></div>
    </div>
  </div>
</div>
