<div class="flex flex-col justify-between mx-10 h-full py-5">
    <div class="flex flex-col mx-auto h-full justify-center items-center z-1 gap-2">
        <div class="flex flex-row aleksa-dacic text-4xl md:text-6xl font-bold">
            <div class="flex flex-row justify-content-end mr-3" [class.home-screen-buzz]="allDone" id="aleksa">
                <div>A</div>
                <div id="L"><span>{{ done.replayL ? 'L' : 'Л' }}</span></div>
                <div>E</div>
                <div>K</div>
                <div id="SS"><span>{{ done.replayS ? 'S' : 'С' }}</span></div>
                <div>A</div>
            </div>
            <div id="dacic" class="flex flex-row justify-content-start" [class.home-screen-buzz]="allDone">
                <div id="D"><span>{{ done.replayD ? 'D' : 'Д' }}</span></div>
                <div>A</div>
                <div id="CH"><span>{{ done.replayCh ? 'Č' : 'Ч' }}</span></div>
                <div id="II"><span>{{ done.replayI ? 'I' : 'И' }}</span></div>
                <div id="TJ"><span>{{ done.replayTj ? 'Ć' : 'Ћ' }}</span></div>
            </div>
        </div>
        <div class="subtitle">
            <span class="text-lg md:text-2xl tracking-widest md:tracking-[0.5rem] my-2">SOFTWARE ENGINEER</span>
        </div>
    </div>
    <app-menu/>
</div>