<div class="grain-animation"></div>

<div class="flex flex-col mx-auto h-full justify-center items-center z-1 gap-2">
    <div class="flex flex-row aleksa-dacic font-bold">
        <div class="flex flex-row justify-content-end mr-3" id="aleksa">
            <div>A</div>
            <div id="L"><span>L</span></div>
            <div>E</div>
            <div id="K"><span>K</span></div>
            <div id="SS"><span>S</span></div>
            <div>A</div>
        </div>
        <div id="dacic" class="flex flex-row justify-content-start">
            <div id="D"><span>D</span></div>
            <div>A</div>
            <div id="CH"><span>Č</span></div>
            <div id="II"><span>I</span></div>
            <div id="TJ"><span>Ć</span></div>
        </div>
    </div>
    <div class="subtitle">
        <p class="text-2xl my-2">SOFTWARE ENGINEER</p>
    </div>
</div>

<app-menu/>