.menu-button {
  background: var(--rgb-blue);
}

.menu-button:hover {
  background: var(--rgb-green);
}

.menu-button.selected,
.menu-button[data-selected="true"] {
  background: var(--rgb-green);
  outline: var(--rgb-green) solid;
}