.menu-button {
  background: var(--rgb-blue);
}

.menu-button:hover {
  background: var(--rgb-yellow);
  color: var(--rgb-blue);
}

.email-button {
  background: var(--rgb-blue);
}

.menu-button.selected,
.menu-button[data-selected="true"] {
  background: var(--rgb-yellow);
  outline: var(--rgb-yellow) solid;
  color: var(--rgb-blue);
}
