
#aleksa, #dacic {
  letter-spacing: 0.5vw;
  line-height: 1 !important;
  user-select: none;
  font-style: italic;
  animation-name: rgb;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-timing-function: steps(1, end);
}

.aleksa-dacic {
  font-size: 6rem;
  font-family: "Verdana", Arial, serif;
}


#CH:hover span {
  display: none;
}

#CH:hover:after {
  content: 'ч';
  color: blue;
  font-style: normal;
}

#TJ:hover span {
  display: none;
}

#TJ:hover:after {
  content: 'ћ';
  color: red;
  font-style: normal;
}

#D:hover span {
  display: none;
}

#D:hover:after {
  content: 'Д';
  color: green;
  font-style: normal;
}

#II:hover span {
  display: none;
}

#II:hover:after {
  content: 'и';
  color: green;
  font-style: normal;
}

#L:hover span {
  display: none;
}

#L:hover:after {
  content: 'л';
  color: green;
  font-style: normal;
}

#K:hover span {
  display: none;
}

#K:hover:after {
  content: 'к';
  color: blue;
  font-style: normal;
}

#SS:hover span {
  display: none;
}

#SS:hover:after {
  content: 'с';
  color: red;
  font-style: normal;
}

#centerpiece {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  margin-left: 5rem;
}
