<div class="grain-animation"></div>
<div id="centerpiece">
  <div class="flex flex-row aleksa-dacic">
    <div class="flex flex-row justify-content-end mr-2" id="aleksa">
      <div>A</div>
      <div id="L"><span>l</span></div>
      <div>e</div>
      <div id="K"><span>k</span></div>
      <div id="SS"><span>s</span></div>
      <div>a</div>
    </div>
    <div id="dacic" class="flex flex-row justify-content-start">
      <div id="D"><span>D</span></div>
      <div>a</div>
      <div id="CH"><span>č</span></div>
      <div id="II"><span>i</span></div>
      <div id="TJ"><span>ć</span></div>
    </div>
  </div>
  <div class="text-xl text-color-secondary my-2">
    Software Engineer
  </div>
  <div class="text-color-alpha-60 text-lg">
    aleksa.dacic99&#64;gmail.com
  </div>
  <div class="flex flex-row mt-5">
    <div class="select-none mr-2">
      <a class="text-red-500 no-underline hover:text-color" href="/about">about</a>
    </div>
    <div class="select-none mr-2">
      <a class="text-green-500 no-underline hover:text-color" href="/works">works</a>
    </div>
    <div class="select-none mr-2">
      <a class="text-blue-500 no-underline hover:text-color" href="/creative">creative</a>
    </div>
  </div>
</div>
