<app-layout>
    <app-nav color="var(--rgb-green)" page="PROJECTS"></app-nav>
    <div class="flex flex-col gap-3 py-10 px-2 md:text-xl items-center h-[70dvh] md:h-[50dvh] overflow-y-auto credits-background"
         style="z-index: 400; text-transform: uppercase; scrollbar-width: none;">
        <app-noise [fullscreen]="false" [opacity]="0.2"/>
        <span class="mb-5 select-none">PROJECTS</span>
        @for (project of PROJECTS; track $index) {
            <a class="flex flex-row gap-5 md:gap-12 items-center justify-center w-full underline md:no-underline hover:underline"
               [href]="project.link" target="_blank">
                <span class="w-1/2 flex self-start justify-end" style="color: #aaaaaa">{{ project.name }}</span>
                <span class="w-1/2 flex self-start justify-start">
                    <div class="w-full md:w-3/5">
                       {{ project.description }}
                    </div>
                </span>
            </a>
        }
    </div>
    <app-menu/>
</app-layout>