@keyframes grain {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37.5% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stripe-frames {
  0% {
    top: -20vh;
  }
  40% {
    top: 120vh; /* finishes movement in 4s out of 9s total (≈44%) */
  }
  100% {
    top: 120vh; /* stays here for remaining 5s */
  }
}

.stripe {
  position: absolute;
  animation: stripe-frames 9s linear infinite;
}


@keyframes rgb {
  0%, 10% {
    color: white;
    transform: translate(0, 0);
    filter: blur(0)
  }
  12% {
    color: red;
    transform: translate(-5%, 0);
    filter: blur(2px)
  }
  13% {
    color: blue;
    transform: translate(5%, -2%);
    filter: blur(2px)
  }
  14% {
    color: green
  }
  16%, 50% {
    color: white;
    transform: translate(0, 0);
    filter: blur(0)
  }
  52% {
    color: blue;
    transform: translate(-5%, 0);
    filter: blur(2px)
  }
  53% {
    color: red;
    transform: translate(5%, -2%);
    filter: blur(1px)
  }
  54% {
    color: green;
    transform: translate(1%, -5%);
    filter: blur(4px)
  }
  56%, 60% {
    color: white;
    transform: translate(0, 0);
    filter: blur(1px)
  }
  60%, 100% {
    color: white;
    transform: translate(0, 0);
    filter: blur(0)
  }
}

@keyframes page-bg-fade {
  0% {
    filter: brightness(100%);
    background-image: url("assets/noise.webp");
  }
  20% {
    transform: translate(-15%, 5%);
    filter: brightness(80%);
  }
  40% {
    transform: translate(-5%, 25%);
    filter: brightness(60%);
  }
  60% {
    transform: translate(15%, 0%);
    filter: brightness(40%);
  }
  80% {
    transform: translate(3%, 35%);
    filter: brightness(20%);
  }
  100% {
    filter: brightness(0%);
    background-image: none;
  }
}

@keyframes show {
  40% {
    transform: translate(-10px, 0)
  }
  60% {
    transform: translate(-5px, -5px);
    filter: blur(5px)
  }
  80% {
    transform: translate(0, 10px)
  }
  100% {
    transform: translate(0, 0)
  }
}
