@keyframes grain {
  0%, 100% {
    transform: translate(0, 0)
  }
  10% {
    transform: translate(-5%, -10%)
  }
  20% {
    transform: translate(-15%, 5%)
  }
  30% {
    transform: translate(7%, -25%)
  }
  40% {
    transform: translate(-5%, 25%)
  }
  50% {
    transform: translate(-15%, 10%)
  }
  60% {
    transform: translate(15%, 0%)
  }
  70% {
    transform: translate(0%, 15%)
  }
  80% {
    transform: translate(3%, 35%)
  }
  90% {
    transform: translate(-10%, 10%)
  }
}

@keyframes rgb {
  0%, 10% {
    color: white;
    transform: translate(0, 0);
    filter: blur(0)
  }
  12% {
    color: red;
    transform: translate(-5%, 0);
    filter: blur(2px)
  }
  13% {
    color: blue;
    transform: translate(5%, -2%);
    filter: blur(2px)
  }
  14% {
    color: green
  }
  16%, 50% {
    color: white;
    transform: translate(0, 0);
    filter: blur(0)
  }
  52% {
    color: blue;
    transform: translate(-5%, 0);
    filter: blur(2px)
  }
  53% {
    color: red;
    transform: translate(5%, -2%);
    filter: blur(1px)
  }
  54% {
    color: green;
    transform: translate(1%, -5%);
    filter: blur(4px)
  }
  56%, 60% {
    color: white;
    transform: translate(0, 0);
    filter: blur(1px)
  }
  60%, 100% {
    color: white;
    transform: translate(0, 0);
    filter: blur(0)
  }
}

@keyframes page-bg-fade {
  0% {
    filter: brightness(100%);
    background-image: url("assets/noise.png");
  }
  20% {
    transform: translate(-15%, 5%);
    filter: brightness(80%);
  }
  40% {
    transform: translate(-5%, 25%);
    filter: brightness(60%);
  }
  60% {
    transform: translate(15%, 0%);
    filter: brightness(40%);
  }
  80% {
    transform: translate(3%, 35%);
    filter: brightness(20%);
  }
  100% {
    filter: brightness(0%);
    background-image: none;
  }
}

@keyframes show {
  40% {
    transform: translate(-10px, 0)
  }
  60% {
    transform: translate(-5px, -5px);
    filter: blur(5px)
  }
  80% {
    transform: translate(0, 10px)
  }
  100% {
    transform: translate(0, 0)
  }
}
