@use "animations.scss";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body {
  background-color: #121212;
  color: #f0f0f0;
  font-size: 16px;
  font-family: Arimo, Arial, serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.logo {
  filter: blur(1px);
  -webkit-text-stroke: 1px black;
}

.rgb-shake-animation {
  animation-name: rgb;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-timing-function: steps(1, end);
}

.page-bg-fade-animation:after {
  animation: page-bg-fade 2s steps(10) 1;
  content: "";
  background-image: none;
  height: 300%;
  width: 300%;
  opacity: 0.25;
  position: fixed;
  top: -100%;
  left: -50%;
  filter: brightness(0%);
}

.grain-animation:after {
  animation: grain 0.5s steps(1) infinite;
  content: "";
  background-image: url("assets/noise.webp");
  height: 300vh;
  width: 300vw;
  opacity: 0.25;
  position: fixed;
  filter: contrast(110%);
  top: -100vh;
  left: -100vw;
}

.alt-page-animation {
  animation-name: alt-page !important;
  animation-iteration-count: 1 !important;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@media screen and (max-width: 760px) {
  body {
    font-size: 12px;
  }
}

