@use "animations.scss";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body {
  background-color: #121212;
  color: #f0f0f0;
  font-size: 16px;
  font-family: Arimo, Arial, serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

:root {
  --rgb-green: rgb(0, 164, 0);
  --rgb-blue: rgb(0, 0, 255);
  --rgb-red: rgb(255, 0, 0);
  --rgb-yellow: rgb(255, 255, 0);
}

.rgb-green {
  color: var(--rgb-green);
}

.rgb-blue {
  color: var(--rgb-blue);
}

.rgb-red {
  color: var(--rgb-red);
}

.rgb-yellow {
  color: var(--rgb-yellow);
}

.logo {
  filter: blur(1px);
  -webkit-text-stroke: 1px black;
}

.rgb-shake-animation {
  animation: rgb 8s steps(1) infinite;
}

.themed-text {
  text-shadow: rgba(255, 255, 255, 0.3) 0 4px 8px;
  filter: blur(0.05rem);
}

@media (max-width: 760px) {
  body {
    font-size: 0.75rem;
  }
}

