#noise {
  pointer-events: none;
  background-repeat: repeat;
  background-size: 400px 400px;
  mix-blend-mode: soft-light;
}

.noise-fullscreen {
  position: fixed;
  inset: 0;
}

.noise-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
